@page "/"
@inject ConfProgram.Services.ConferenceService ConferenceService

<div class="video-header">
    <video autoplay muted loop playsinline>
        <source src="videos/bg.mp4" type="video/mp4" />
        Ваш браузер не поддерживает видео.
    </video>

    <div class="overlay d-flex align-items-center justify-content-center">
        <div class="header-text text-center">
            <h1>КОРПОРАТИВНАЯ КОНФЕРЕНЦИЯ</h1>
            <h3>«ЦЕНООБРАЗОВАНИЕ И КАПИТАЛЬНОЕ СТРОИТЕЛЬСТВО — 2025»</h3>

            <button class="btn btn-enter btn-lg mt-4 px-5 py-3" @onclick="EnterConference">
                ПОСМОТРЕТЬ ПРОГРАММУ КОНФЕРЕНЦИИ
            </button>
        </div>
    </div>
</div>

@code {
    private void EnterConference()
    {
        Console.WriteLine("Кнопка нажата");
        NavigationManager.NavigateTo("/program");
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;
}