@page "/program2"
@using ConfProgram.Models
@inject ConfProgram.Services.ConferenceService ConferenceService

<div class="program-section">
    <div class="triangle-left"></div>

    <div class="program-steps-wrapper">
        <div class="program-steps-skewed">
            <div class="step">
                <h4>10:00</h4>
                <p>Открытие. Приветствие.</p>
            </div>
            <div class="step">
                <h4>11:00</h4>
                <p>Доклад: Сметные технологии</p>
            </div>
            <div class="step">
                <h4>12:30</h4>
                <p>Дискуссия: Автоматизация</p>
            </div>
            <div class="step">
                <h4>14:00</h4>
                <p>Закрытие. Ответы на вопросы.</p>
            </div>
        </div>
    </div>
</div>


@code {

}
