@page "/program"
@using ConfProgram.Models
@inject ConfProgram.Services.ConferenceService ConferenceService
@inject NavigationManager NavigationManager

<div class="program-background program-page text-white">

    <h3 class="text-center">Программа конференции</h3>

    @if (ConferenceService.Data.Parts.Count == 0)
    {
        <p class="text-center text-muted"><em>Данные не загружены.</em></p>
    }
    else
    {
       <h4 class="text-center mt-4">Выберите часть:</h4>

        <div class="d-flex justify-content-center flex-wrap gap-4 mt-3 part-card-container">
            @foreach (var part in ConferenceService.Data.Parts)
            {
                <div class="part-card" @onclick="() => GoToPart(part.Id)">                  
                    <div class="part-card-overlay">
                        <span class="part-card-title">@part.Name</span>
                    </div>
                    <img src="@GetPathImg(part.Id)" alt="@part.Name" class="part-card-image" />
                </div>
            }
        </div>

    }
</div>

@code {
    private void GoToPart(string partId)
    {
        NavigationManager.NavigateTo($"/room/{partId}");
    }

    private string GetPathImg(string partId)
    {

        string pathImg = $"/images/{partId}.jpg";
        return pathImg;
    }


    protected override async Task OnInitializedAsync()
    {
        if (ConferenceService.Data.Parts.Count == 0)
        {
            await ConferenceService.LoadDataAsync();
        }
    }
}