@page "/room/{RoomId}"
@using Microsoft.AspNetCore.WebUtilities
@using ConfProgram.Models
@using ConfProgram.Components  @* если компоненты находятся в папке Components *@
@inject NavigationManager NavigationManager
@inject ConfProgram.Services.ConferenceService ConferenceService


@if (SelectedRoom is null)
{
    <p class="text-muted">Комната не найдена.</p>
}
else
{
    <div class="container-fluid px-3 custom-margin-top">
        <div class="row mt-5 gx-1">
            <!-- Левая колонка: список комнат -->
            <div class="col-12 col-md-3 mb-3">
                <RoomList Rooms="ConferenceService.Data.Rooms"
                          SelectedRoom="SelectedRoom"
                          OnRoomSelected="HandleRoomSelected" />
            </div>

            <!-- Правая колонка: таблица и/или аккордеон -->
            <div class="col-12 col-md-9">
                @if (SelectedRoom is not null)
                {
                    <div class="d-none d-md-block">
                        <!-- Только на >=768px -->
                        <RoomScheduleTable Room="SelectedRoom" />
                    </div>
                    <div class="d-block d-md-none">
                        <!-- Только на <768px -->
                        <RoomScheduleTable2 Room="SelectedRoom" />
                    </div>
                }
            </div>

          
        </div>
    </div> 
}

@code {
    [Parameter]
    public string? RoomId { get; set; }

    private ConferenceRoom? SelectedRoom;

    protected override async Task OnInitializedAsync()
    {
        NavigationManager.LocationChanged += OnLocationChanged;

        if (ConferenceService.Data.Rooms.Count == 0)
            await ConferenceService.LoadDataAsync();

        SelectedRoom = ConferenceService.Data.Rooms.FirstOrDefault(p => p.Id == RoomId);
        UpdateRoomFromQuery();
    }

    protected override void OnParametersSet()
    {
        SelectedRoom = ConferenceService.Data.Rooms.FirstOrDefault(p => p.Id == RoomId);
        UpdateRoomFromQuery();
    }

    private void HandleRoomSelected(ConferenceRoom room)
    {
        NavigateToRoom(room);
    }

    private void NavigateToRoom(ConferenceRoom room)
    {
        NavigationManager.NavigateTo($"/room/{room.Id}", replace: true);
    }

    private void UpdateRoomFromQuery()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("room", out var roomId))
        {
            var room = ConferenceService.Data.Rooms.FirstOrDefault(r => r.Id == roomId);
            if (room is not null)
                SelectedRoom = room;
        }
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        UpdateRoomFromQuery();
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
