@using ConfProgram.Components
@inherits LayoutComponentBase

<PageTitle>ConfProgram</PageTitle>

<div class="page">
    <div class="sidebar">
        <SidebarMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="breadcrumb-wrapper">
                <Breadcrumb />
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
   

    private ConferencePart? SelectedPart;
    private ConferenceRoom? SelectedRoom;

    private void SelectPart(ConferencePart part)
    {
        SelectedPart = part;
        SelectedRoom = null;
    }

    private void SelectRoom(ConferenceRoom room)
    {
        SelectedRoom = room;
    }
}
