<div class="top-row ps-3 navbar navbar-dark rosneft-navbar">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="">ConfProgram</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-menu bg-rosneft-dark text-white" @onclick="ToggleNavMenu">
    <nav class="flex-column mt-3">
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home me-2"></span> Главная
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="/program">
                <span class="oi oi-calendar me-2"></span> Программа
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="/contacts">
                <span class="oi oi-envelope-closed me-2"></span> Контакты
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
