.btn-enter {
    background-color: transparent; /* прозрачный фон */
    color: #ffffff; /* белый текст */
    border: 2px solid #ffffff; /* белая рамка */
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.75rem 2rem; /* можно настроить под ваши отступы */
    transition: all 0.3s ease;
}

.btn-enter:hover {
    background-color: #ffffff; /* белый фон при наведении */
    color: #000000; /* чёрный текст */
}



/* === Кнопка Роснефть === */
.btn-rosneft {
    background-color: #FFC107; /* светло-оранжевая (по умолчанию) */
    color: #000; /* чёрный текст */
    border: 1px solid #000; /* тонкая чёрная рамка */
    font-weight: 600;
    transition: background-color 0.2s ease-in-out;
}

    /* Наведение */
    .btn-rosneft:hover,
    .btn-rosneft:focus {
        background-color: #FFD700; /* жёлтая при наведении */
        color: #000;
        border-color: #000;
    }

    /* Активная кнопка (выбранная или при клике) */
    .btn-rosneft.active,
    .btn-rosneft:active {
        background-color: #000; /* чёрная */
        color: #FFD700; /* жёлтый текст */
        border: 1px solid #000; /* чёрная рамка (чуть толще для выделения) */
        box-shadow: none !important; /* убираем голубое свечение */
        outline: none !important; /* убираем outline */
    }


